nav{
    position: fixed;
      top: 0;
      left: 0;
      color: var(--text);
      z-index: 2;
      height: 7rem;
      padding: 20px 5vw;
      background-color: var(--primary);
      width: 100vw;
      border-bottom: 5px solid transparent;
      border-image: linear-gradient(to right, var(--main-blue),  var(--main-green));
      border-image-slice: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .timer{
    position: fixed;
      top: 0;
      width: 100vw;
      height: 7rem;
      left: 0;
      color: var(--text);
      z-index: 3;
    color: var(--text);
    border-bottom: 5px solid var(--main-green);
    background-color: var(--secondary);
  }
  .timer span{
    background-color: var(--oposite-blue);
    height: calc(7rem - 5px);
    transition: .3s;
    position: fixed;
      top: -5px;
      height: 7rem;
      left: 0;
  }
  .timer h2{
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100vw;
    height: calc(7rem - 5px);
    left: 0;
    font-size: clamp(50px, calc(2vmax + 3vmin), calc(2vmax + 3vmin));
    display: grid;
    place-items: center;
  }
  .btns-light-dark{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .btns-light-dark button{
    display: flex;
    flex-direction: column;
    padding: 1rem 10px;
    align-items: center;
    justify-content: center;
    font-size: calc(1vmax + 10px);
  }
  .btns-light-dark button.btn-light{
    background-color: var(--yellow);
  }
  .btns-light-dark button svg{
    margin-bottom: 2vh;
    font-size: calc(4vmax + 1rem);
  }
  .Nav-Logo{
    cursor: pointer;
    overflow-y: hidden;
  }
  nav span{
    color: var(--main-blue);
    font-size: clamp(calc(2rem + 10px),calc(2vw + 2vh + 1rem),calc(2vw + 2vh + 1rem));
    font-weight: 600;
  }
  nav span strong{
    color: var(--main-green);
  }
  
  nav button{
    font-size: calc(1rem + 1vmax);
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  nav div{
    display: flex;
    gap: 10px;
  }
  .toggle-btn{
    background: none;
    color: var(--main-green);
    background-color: none;
    display: none;
    font-size: calc(1vw + 1vh + 2rem);
    margin-right: 3vw;
  }

  aside{
    display: none;
    transition: .5s;
    position: fixed;
    top: 7rem;
    left: -100vw;
    background-color: var(--primary);
    width: 100vw;
    z-index: 2;
    padding: 1rem 5%;
  }
  aside.active{
    left: 0;
  }
  nav div button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  nav div button code{
    font-size: calc(1vmax + 10px);
  }
  @media screen and (max-width:850px){
    nav span{display: none;}
    nav div button code{
        display: none;
    }
    .toggle-btn, .btn-toggle-color{
        display: block;
    }
    .btn-toggle-color{
      font-size: calc(1vw + 1vh + 5px + 1rem);
    }
  }
  .aside{
    display: flex;
    padding: 1rem 5vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .aside button{
    font-size: calc(2vmax + 1rem);
  }
  nav .hamburger{
    position: relative;
    z-index: 7;
    background-color: transparent;
    padding: 5px;
    height: 80px;
    display: none;
    cursor: pointer;
 transition: all .5s ease-in-out;
 justify-content: center;
 gap: 10px;
 flex-direction: column;
 align-items: center;
}
nav .hamburger i{
    position: relative;
    border-radius: 5px;
    width: 55px;
    transition: 500ms;
    height: 6px;
    background-color: var(--text);
}
nav.active .hamburger i{
    background-color: var(--text);
}
.open-nav .hamburger-1{
    transform: rotate(45deg);
    top: 16px;
}
.open-nav .hamburger-2{
    width: 0;
}
.open-nav .hamburger-3{
    transform: rotate(-45deg);
    bottom: 16px;
}
@media screen and (max-width: 850px) {
  nav .hamburger{display: flex;}
}