nav{
    position: fixed;
      top: 0;
      left: 0;
      color: var(--text);
      z-index: 2;
      height: 8rem;
      padding: 20px 5vw;
      background-color: var(--primary);
      width: 100vw;
      border-bottom: 5px solid transparent;
      border-image: linear-gradient(to right, var(--main-blue),  var(--main-green));
      border-image-slice: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  nav img{
    transition: 1s;
    overflow-y: hidden;
  }
  nav img:hover{
    transform: rotate(360deg);
  }
  nav span{
    color: var(--main-blue);
    font-size: calc(2vw + 2vh + 1rem);
    font-weight: 600;
  }
  .nav-icon{
    cursor: pointer;
  background-image: linear-gradient(45deg, var(--main-blue), var(--main-green));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: calc(1vw + 3rem);
  color: var(--main-blue);
}
  
  nav button{
    font-size: calc(1rem + 1vh);
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    border: none;
  }
  nav div{
    display: flex;
    gap: 10px;
  }
  .toggle-btn{
    background: none;
    color: var(--main-green);
    background-color: none;
    display: none;
    font-size: calc(1vw + 1vh + 2rem);
    margin-right: 3vw;
  }
  aside{
    display: none;
    transition: 1s;
    position: fixed;
    top: 8rem;
    left: -100vw;
    background-color: var(--primary);
    width: 100vw;
    z-index: 2;
    padding: 1rem 5%;
  }
  aside.active{
    left: 0;
  }
  @media screen and (max-width:768px){
    nav span{
        display: none;
    }
    nav div button{
        display: none;
    }
    .toggle-btn, .btn-toggle-color{
        display: block;
    }
    .btn-toggle-color{
      font-size: calc(1vw + 1vh + 5px + 1rem);
    }
    aside{
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:1rem;
    }
  }