.register-form{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 5vw;
}
.register-form h2{
    text-align: center;
    margin: 0 0 2rem 0;
    font-size: calc(1vw + 1vh + 1rem);
}
.register-form form{
    display: flex;
    flex-direction: column;
}
.register-form form label{
    font-weight: 600;
    padding: 10px;
    font-size: 1rem;
}
.register-form form div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 10px;
    justify-content: center;
}
.btn-light{
    background-color: var(--secondary-light);
    color: var(--dark);
}
.btn-dark{
    background-color: var(--secondary-dark);
    color: var(--light);
}
@media screen and (max-width: 768px) {
    .register-form form div{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
.register-form form div button{
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    font-size: calc(1rem + 1vh);
}
.register-form form div button svg{
    font-size: calc(2rem + 1vh);
}
.register-form article{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.register-form article button{
    font-size: calc(1rem + 1vh);
    font-weight: 600;
    border-radius: 10px;
}
.exam-check-btn{
    margin-top: calc(2vh + 10px);
    font-size: calc(1vmax + 15px);
}