@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&family=Roboto+Mono:ital@1&display=swap');
*{
  margin: 0;
  padding: 0;
  font-weight: 600;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  outline: none;
}
:root{
  --dark: #020e21;
  --secondary-dark: #162333;
  --secondary-dark-opacity: #1623338f;
  --light: #f9fcff;
  --secondary-light: #cad4e4;
  --secondary-light-opacity: #cad4e4d2;
  --strong-blue: #134fb0;
  --light-blue: #84aef2;
  --strong-green: #1ac26b;
  --light-green: #6bedaa;
  --yellow: #fde974;
  --dark-fire: #ff8454;
  --dark-fire-contrast: #fac447;
  --light-fire: #d66700;
  --light-fire-contrast: #dfa621;
  --strong-red: #ce1515;
  --light-red: #ff8585;
}
.light{
  --primary: var(--light);
  --secondary: var(--secondary-light);
  --secondary-opacity: var(--secondary-light-opacity);
  --text: var(--dark);
  --text-opacity: var(--secondary-dark-opacity);
  --main-blue: var(--strong-blue);
  --main-green: var(--strong-green);
  --secondary-blue: var(--light-blue);
  --secondary-green: var(--light-green);
  --mode-bg: var(--secondary-light);
  --mode-color: var(--dark);
  --red: var(--strong-red);
  --fire: var(--light-fire);
  --fire-contrast: var(--light-fire-contrast);
}

.dark{
  --primary: var(--dark);
  --secondary: var(--secondary-dark);
  --secondary-opacity: var(--secondary-dark-opacity);
  --text: var(--light);
  --text-opacity: var(--secondary-light-opacity);
  --main-blue: var(--light-blue);
  --main-green: var(--light-green);
  --secondary-blue: var(--strong-blue);
  --secondary-green: var(--strong-green);
  --mode-bg: var(--secondary-dark);
  --mode-color: var(--yellow);
  --red: var(--light-red);
  --fire: var(--dark-fire);
  --fire-contrast: var(--dark-fire-contrast);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.top-1rem{
  margin-top: 1rem;
}
.red{color: var(--red);}
.blue{color: var(--main-blue);}
.green{color: var(--main-green);}
.b-red{
  background-color: var(--red);
  color: var(--primary);
}
.m-top-2rem {margin-top: 2rem;}
.m-top-1rem {margin-top: 1rem;}
.b-blue{background-color: var(--main-blue);}
.b-green{background-color: var(--main-green);}
.display-none{display: none;}
.loading-component{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  background-color: var(--primary);
  color: var(--main-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loading-component svg{
  position: relative;
  font-size: calc(6rem + 6vh + 3vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: loadingSatellite;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
@keyframes loadingSatellite{
  from{
    transform: rotate(0);
  }
  25%{
    transform: rotate(30deg);
  }
  50%{
    transform: rotate(0);
  }
  75%{
    transform: rotate(-30deg);
  }
  to{
    transform: rotate(0);
  }
}
.center{
  text-align: center;
}
.backdrop{
  position: fixed;
  z-index: 3;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: var(--secondary-opacity);
    display: grid;
    place-items: center;
}

/* Cuerpo y temas */
body {
  padding: 0;
  margin: 0;
}
main{
  background-color: var(--primary);
  overflow-x: hidden;
  color: var(--text);
  transition: 1s; 
  min-height: 100vh;
}


/* Reglas para evitar especificaciones */
a {
  color: inherit;
  text-decoration: none;
}
input{
  background: transparent;
  border: 4px solid transparent;
  color: var(--text);
  transition: .5s;
}
button, .disabled{
  cursor: pointer;
  padding: 10px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  transition: .5s;
  position: relative;
}
button:hover{
  transform: translateY(-5px);
}
@media screen and (max-width:768px){
  button:hover{
    transform: translateY(0);
  }
  .rocket-init{
    display: none;
  }
}
.btn-primary{
  background-color: var(--main-blue);
  color: var(--primary);
}
.btn-secondary{
  background-color: var(--main-green);
  color: var(--primary);
}
.btn-tertiary{
  background-image: linear-gradient(to right, var(--main-blue), var(--main-green));
  color: var(--primary);
}
.disabled{
  background-image: none;
  background-color: var(--secondary-opacity);
  color: var(--text-opacity);
}
.disabled:hover{
  transform: translateY(0);
}
.btn-toggle-color{
  background-color: var(--mode-bg);
  color: var(--mode-color);
}
.backdrop-form-container{
  background: var(--primary);
  margin: auto;
  padding: 2rem;
  width: clamp(300px, 40%, 90%);
  border: 4px solid transparent;
  border-image: linear-gradient(to right, var(--main-blue),  var(--main-green));
  border-image-slice: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.backdrop-form-container label{
  margin: 10px 0;
  padding: 5px;
  text-align: center;
  font-size: calc(1rem + 5px);
}
.backdrop-form-container.low-label{
  padding: 2vh 10px;
}
.backdrop-form-container.low-label label{
  margin: 5px 0;
}
.backdrop-form-container h3{
  font-size: calc(1vw + 1vh + 1rem - 5px);
  margin: auto auto 2rem auto;
}
.backdrop-form-container h4{
  font-size: calc(1vh + 1rem);
  margin: auto auto 1rem auto;
  text-align: center;
}
.backdrop-form-container.code h3{
  text-align: center;
}
.register-form input, .backdrop-form-container input{
  width: clamp(300px, 50vw, 50vw);
  font-size: 1rem;
  border-image: linear-gradient(to right, var(--main-blue),  var(--main-green));
  border-image-slice: 1;
  padding: 10px;
  margin-bottom: 1rem;
}
.backdrop-form-container input{
  width: clamp(200px, 100%, 100%);
}
.backdrop-form-container.create-class{
  padding: 2vh 5%;
}
.backdrop-form-container.create-class input{
  text-align: center;
}
.backdrop-form-container input.code-class-input{
  font-size: calc(1vw + 1rem);
  width: 100%;
  text-align: center;
  border-radius: 10px;
  border-image: none;
  border-image-slice: 0;
  border: 4px solid var(--main-blue);
  margin-bottom: 1rem;
}
.backdrop-form-container input.code-class-input:focus{
  border-color: var(--main-green);
}
.backdrop-form-container p{
  margin-top: 1rem;
}
.backdrop-form-container p.red{
  color: var(--red);
}
.backdrop-form-container p.green{
  color: var(--main-green);
}
.backdrop-form-container button{
  font-size: calc(1vh + 1rem);
}
input:focus{
  background: var(--secondary);
}
input::placeholder{
  color: var(--text-opacity);
}
.success-toast{
  background-image: linear-gradient(to right, var(--main-blue),  var(--main-green));
  color: var(--primary);
}
.class-feed{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: calc(1rem + 3%);
  padding-bottom: 2rem;
  border-bottom: 5px dashed;
  margin-bottom: 2rem;
}
.class-feed-title{
  font-size: calc(1vh + 1vw + 2rem);
  text-align: center;
  margin-bottom: 1rem;
}
.class-feed section{
  border: 4px solid;
  border-radius: 10px;
  padding: 20px 1%;
  width: clamp(280px, 30%, 30%);
}
.class-feed section.border-blue{
  border-color: var(--main-blue);
}
.class-feed section.border-green{
  border-color: var(--main-green);
}
.class-feed section svg, .cart-icon{
  font-size: calc(2rem + 2vh + 2vw);
  margin: 1rem 0;
}
.class-feed section.border-blue svg{
  color: var(--main-green);
}
.class-feed section.border-green svg{
  color: var(--main-blue);
}
.class-feed h2{
  font-size: clamp(2rem, calc(2vw + 1vh), calc(2vw + 1vh));
}
.class-feed h3{
  margin-top: 10px;
  font-size: clamp(1rem, calc(1vw + 1vh), calc(1vw + 1vh));
}
.class-feed button{
  font-size: clamp(1rem, calc(1vw + 1vh),calc(1vw + 1vh));
  margin-top: 1rem;
}
.counter{
  border: 3px solid var(--main-blue);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  font-size: clamp(calc(1rem + 10px), 1vmax, 1vmax);
}
.counter.green-counter{
  border-color: var(--main-green)
}
.counter button{
  border-radius: 0;
  background-color: var(--main-blue);
  font-size: clamp(calc(1rem + 10px), 1vmax, 1vmax);
}
.counter.green-counter button{
  background-color: var(--main-green);
}
.counter button:hover{
  transform: translateY(0);
}